.divStyle {
    border: 1px solid #FFD700;
    border-radius: 30px;
    flex: 1;
}

.divStyle1 {
    border: 1px solid #FFD700;
    border-radius: 30px;
    flex: 1;
}

.divStyle2 {
    border: 1px solid #FFD700;
    border-radius: 30px;
    flex: 1;
}

.divStyle3 {
    border: 1px solid #FFD700;
    border-radius: 30px;
    flex: 1;
}

.headingStyle {
    color: #906E39;
    font-weight: 900;
    /* font-size: calc(1vw + 1vh + 0.5vmin); */
}

.paraStyle {
    /* font-size: 15px;
    font-weight: 500; */
    color: #595959;
    font-weight: 500;
    text-transform: none;
    font-size: 1.125rem;
    letter-spacing: -.09px;
    line-height: 1.3333333333;
}

.gifStyle {
    width: 50%;
}

.exploreBtn {
    border-radius: 50px;
    background: white;
    color: #6F542C;
    border: 1px solid #e0e0e0;
}

.exploreBtn:hover {
    border-radius: 50px;
    background: white;
    color: #6F542C;
    border: 1px solid #6F542C;
}

.exploreSectionAfterLGScrn {
    display: none;
}

.carouselItem {
    overflow: hidden;
    max-height: 70vh;
    min-height: 70vh;
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .divStyle3 {
        display: none;
    }
}

@media (max-width: 991px) {
    .exploreSectionBeforeLGScrn {
        display: none;
    }

    .exploreSectionAfterLGScrn {
        display: block;
    }
}

@media (max-width: 767px) {
    .divStyle2 {
        display: none;
    }
}