.footerAfterLGScrn {
    display: none;
}

.footerOptions:hover {
    background: #E0E0E0;
    cursor: pointer;
}

@media (max-width: 992px) {
    .footerBeforeLGScrn {
        display: none;
    }

    .footerAfterLGScrn {
        display: block;
    }
}