.containerStyle {
    background-image: url('https://jep-asset.akamaized.net/cms/assets/jfs/pdp/insurance/pdp-insurance-desk.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    max-width: 1200px;
}